<div id="footer">
    <div class="container">
        <div class="row">
            <div class="four columns">
                <h3>À propos</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum laudantium asperiores illo sequi molestias cum!</p>
                <p>&copy; UNACIEM Créé par <a href="https://www.loukag.com">Louka Gauthier</a></p>
            </div>
            <div class="four columns">
                <h3>Liens Utiles</h3>
                <ul>
                    <li><a href="#Portfolio">Portfolio</a></li>
                    <li><a href="#Àpropos">À propos</a></li>
                    <li><a href="#NosForces">NosForces</a></li>
                    <li><a href="#Prendreunrendez-vous">Prendre un rendez-vous</a></li>
                </ul>
            </div>
            <div class="four columns">
                <h3>Contact</h3>
                <p><i class='bx bxl-facebook-circle icon'></i> UNACIEM</p>
                <p><i class='bx bxl-tiktok' ></i> @UNACIEM</p>
                <p><i class='bx bxs-phone' ></i> 01 23 45 67 89</p>
                <p><i class='bx bxs-envelope' ></i> contact@unaciem.fr</p>
            </div>
        </div>  

    </div>
</div>