img{
    width: 100%;
}

section{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text);
}

.imageCol{
    margin-top: 8vh;
}