.icon{
    color: var(--primary);
    font-size: 6em;
    display: block;
    text-align: center;
}

p{
    text-align: justify;
}

h1{
    padding-top: 5vh; 
    padding-bottom: 5vh;
}

#NosForces{
    scroll-behavior: smooth;
}