<section>
    <div id="black-display">
        <div class="content">
            <header class="container">
                <div id="videos">
                    <div id="video-container">
                        <video autoplay loop>
                            <source src="assets/video/bird.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div id="video-container">
                        <video autoplay loop>
                            <source src="assets/video/snow-forest.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div id="video-container">
                        <video autoplay loop>
                            <source src="assets/video/mountain.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                
                
                <h1>Lorem ipsum dolor sit amet.</h1>
                <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque obcaecati rerum quas, asperiores est itaque.</h2>
            </header>
        </div>
        
    </div>
    <div id="white-display">
        <div class="content">
            <header class="container">
                <div id="videos">
                    <div id="video-container">
                        <video autoplay loop>
                            <source src="assets/video/dark-sea.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div id="video-container">
                        <video autoplay loop>
                            <source src="assets/video/rain-city.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div id="video-container">
                        <video autoplay loop>
                            <source src="assets/video/trotoir.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                
                
                <h1>Lorem ipsum dolor sit amet.</h1>
                <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque obcaecati rerum quas, asperiores est itaque.</h2>
            </header>
        </div>
    </div>
    
</section>