section{
    background-color: var(--background);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    padding-top: 5vh; 
    padding-bottom: 5vh;
}

input, textarea{
    width: 100%;
}

.color-primary{
    color: var(--primary);
}