<section id="Portfolio" class="center-section secondary-background">
    <div class="container" id="portfolio-container">
        <div id="view-portfolio">
            <h1>Portfolio</h1>
            <div *ngIf="portfolio.length > 0">
                <div *ngIf="portfolio[this.selectedIndex]['youtube_url']" class="video-container">
                    <iframe [src]="getEmbeddedUrl()" frameborder="0" allowfullscreen class="video"></iframe>
                </div>

                <div *ngIf="!portfolio[this.selectedIndex]['youtube_url']" class="image-container">
                    <img [src]="getCurrentImage()" alt="Selected Image" class="selectedImage">
                </div>
            </div>
        </div>
        
        <app-portfolio-items [portfolio]="portfolio" (selectItemEvent)="this.selectItem($event)" id="portfolio-items"></app-portfolio-items>
    </div>
    
</section>