@font-face {
  font-family: 'Mosk';
  src: url('assets/fonts/mosk/Mosk Bold 700.ttf');
}

h1,h2,h3,h4,h5,h6, .mosk {
  font-family: 'Mosk', sans-serif;
}

html,
body {
  font-family: "Gentium Plus", serif;
  max-width: 100%;
  overflow-x: hidden;
  --text: #f1f0eb;
  --background: #070705;
  --background-secondary: #070705fa;
  --primary: #dbc251;
  --secondary: #635b39;
  --accent: #d1b433;  

  --light-text: #15140f;
  --light-background: #fbfbf9;
  --light-primary: #ae9424;
  --light-secondary: #c5bd9b;
  --light-accent: #ccaf2e;
}

section{
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background);

  color: var(--text);
}

.secondary-background{
  background-color: var(--background-secondary);
}

.center-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-primary{
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

input:focus, textarea:focus{
  border-color: var(--primary) !important;
}